.background{
    background-image: none;
}
.about{
    height: 35vh;
    display:flex;
    justify-content: space-evenly;
    @media @tablet{
        height:30vh;
    }
    @media @mobile{
        height:28vh;
    }
    div{
        display:flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding:2%;
        width:25%;
        height:100%;
        h2{
            font-size: 2.5rem;
        }
        h3{
            font-size: 2.2rem;
        }
        img{
            border-radius: 50%;
            width:70%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            @media @tablet{
                width:100%;
            }
        }
        p{
            font-size:1.6rem;
            @media @tablet{
                font-size: 1.4rem;
            }
        }
    }
}