
footer{
    height:5rem;
    background-color: @nav-bg;
    display:flex;
    justify-content: center;
    padding:.3%;
    @media @mobile{
        height:4rem;
    }
    img{
        width:4rem;
        opacity: .3;
        margin:0 2%;
        &:hover{
            opacity:1;
        }
    }
}